.header-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 0px;
}

.header-menu-burger {
  display: none;
}

.header-left {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  position: relative;
}
.header-left__logo {
  cursor: pointer;
}
.header-left__list {
  display: flex;
}
.header-left__list li {
  cursor: pointer;
  margin: 0px 0px 0px 3vw;
  text-decoration: underline;
}

.header-right {
  align-items: center;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 20px 0px 20px;
}
.header-right__search {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  cursor: pointer;
  padding: 8px;
  height: 32px;
  width: 32px;
}
.header-right__search::before {
  content: url("../img/icons-and-logo/search.png");
}
.header-right__search:hover {
  background: white;
}
.header-right__search:hover::before {
  content: url("../img/icons-and-logo/search--hover.png");
}
.header-right__login {
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  margin: 0px 0px 0px 10px;
  text-align: center;
  padding: 0px 16px;
  height: 32px;
  width: 100px;
}
.header-right__login::before {
  content: url("../img/icons-and-logo/login.png");
  margin: 0px 8px 0px 0px;
  height: 20px;
}
.header-right__login:hover {
  background: white;
  color: black;
}
.header-right__login:hover::before {
  content: url("../img/icons-and-logo/login--hover.png");
}
.header-right__cart {
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  margin: 0px 0px 0px 10px;
  text-align: center;
  padding: 0px 16px;
  height: 32px;
  width: 100px;
}
.header-right__cart::before {
  content: url("../img/icons-and-logo/cart.png");
  margin: 0px 8px 0px 0px;
  height: 20px;
}
.header-right__cart:hover {
  background: white;
  color: black;
}
.header-right__cart:hover::before {
  content: url("../img/icons-and-logo/cart.png");
}

.header-bottom {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  position: absolute;
  right: 30px;
}
.header-bottom__timetable {
  font-size: 14px;
  line-height: 16px;
  margin: 0px 0px 8px;
}
.header-bottom__phone {
  font-size: 22px;
  line-height: 24px;
}

@media (max-width: 810px) {
  .header-menu-burger {
    display: block;
    position: relative;
    margin: 10px 0px;
    height: 20px;
    width: 30px;
    z-index: 3;
  }
  .header-menu-burger span {
    background: #fff;
    left: 0;
    top: 9px;
    height: 2px;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 30px;
  }
  .header-menu-burger::before, .header-menu-burger::after {
    background: #fff;
    content: "";
    left: 0;
    height: 2px;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 30px;
  }
  .header-menu-burger::before {
    top: 0px;
  }
  .header-menu-burger::after {
    bottom: 0px;
  }
  .header-menu-burger.burger-menu::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header-menu-burger.burger-menu span {
    transform: scale(0);
  }
  .header-menu-burger.burger-menu::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header-left {
    background: #9D8B84;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0px;
    position: fixed;
    overflow: auto;
    padding: 6vh 0px;
    text-align: center;
    transition: all 0.3s ease 0s;
    top: -100%;
    width: 100%;
    z-index: 2;
  }
  .header-left.burger-menu {
    top: 0px;
  }
  .header-left__list {
    flex-direction: column;
    justify-content: space-around;
  }
  .header-left__list li {
    margin: 2vh 0px;
  }
  .header-bottom {
    align-items: center;
    top: -100%;
    left: 0px;
    position: fixed;
    overflow: auto;
    width: 100%;
    z-index: 2;
  }
  .header-bottom.burger-menu {
    top: 90vh;
  }
}
@media (max-width: 810px) and (orientation: landscape) {
  .header-bottom.burger-menu {
    top: 80vh;
  }
}