@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "./header_style.scss";

body {
    background: #9D8B84;
    color: white;
    font-family: "Roboto";
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 2vw;
    position: relative;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.slider {
    width: 90%;
    min-width: 0;
    max-width: 1200px;
    position: relative;
}

.slider-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 700px;

    &__title {
        font-size: 60px;
        line-height: 60px;
        font-weight: 700;
    }

    &__image {
        position: absolute;
        height: 100%;
        width: 100%;
    
        & img { max-width: 100%; }
    }
}

.slick {
    &-list { overflow: hidden; }
    &-track { display: flex; }

    &-dots {
        display: flex;

        & button {
            background: transparent;
            border: 2px solid #fff;
            border-radius: 100px;
            font-size: 0px;
            margin: 0px 4px;
            height: 20px;
            width: 20px;
        }

        & li.slick-active button{
            background: #fff;
        }
    }
}